<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div data-role="page"  data-overlay-theme="a">
            <div data-role="header" data-theme="a">
                <h1>Info</h1>
            </div>
            <div data-role="content" data-theme="a" data-content-theme="a">
                <i><!--<p>There is a problem with the connection to formula1.com</p>-->
                   <p>Working in new improvements, It will be online for next race.</p>
                   <p>Sorry for the inconvenience</p>
                </i>
            </div>
        </div>
    </body>
</html>