<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>F1 live timing map</title>
        
        <!-- google maps files -->
        <link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js"></script>
        
        <!-- Animation cars -->
        <script type="text/javascript">
            var map = undefined;
            var markersArray = [];
            var posGeneral = new google.maps.LatLng(1.2942381616547303, 103.85830879211426);
            var poly;
            var map;
            
            function initialize() {
                var myOptions = {
                    zoom: 16,
                    center: posGeneral,
                    mapTypeId: google.maps.MapTypeId.SATELLITE,
                };
                
                map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);
                
                var polyOptions = {
                    strokeColor: '#000000',
                    strokeOpacity: 1.0,
                    strokeWeight: 3
                }
                    poly = new google.maps.Polyline(polyOptions);
                poly.setMap(map);
                
                // Add a listener for the click event
                google.maps.event.addListener(map, 'click', addLatLng);
            }
            
            /**
            * Handles click events on a map, and adds a new point to the Polyline.
            * @param {MouseEvent} mouseEvent
            */
            function addLatLng(event) {
                
                var path = poly.getPath();
                
                // Because path is an MVCArray, we can simply append a new coordinate
                // and it will automatically appear
                path.push(event.latLng);
                
                // Add a new marker at the new plotted point on the polyline.
                var marker = new google.maps.Marker({
                    position: event.latLng,
                    title: '#' + path.getLength(),
                    draggable: true,
                    map: map
                });
                markersArray.push(marker);
            }
            function getCircuitTracks() {
                var circuit = [];
                if (markersArray) {
                    for (i in markersArray) {
                        circuit.push([markersArray[i].getPosition().lat(),markersArray[i].getPosition().lng()]);
                    }
                }
                return circuit;
            }
            function setCircuitTracks(circuit) {
                var path = poly.getPath();
                var latLong;
                for (i in circuit) {
                    // Because path is an MVCArray, we can simply append a new coordinate
                    // and it will automatically appear
                    latLong = new google.maps.LatLng(circuit[i][0], circuit[i][1]);
                    path.push(latLong);
                    
                    // Add a new marker at the new plotted point on the polyline.
                    var marker = new google.maps.Marker({
                        position: latLong,
                        title: '#' + path.getLength(),
                        draggable: true,
                        map: map
                    });
                    markersArray.push(marker);
                }
            }
            

        </script>
    </head>
    <body onload="initialize(0)">
        <div id="map_canvas"></div>    
    </body>
</html>
