<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div data-role="page"  data-overlay-theme="a">
            <div data-role="header" data-theme="a">
                <h1>INSTRUCTIONS</h1>
            </div>
            <div data-role="content" data-theme="a" data-content-theme="a">
                <ul>
                    <li>Press over a driver to track him.</li>
                    <li>Press into an empty map zone to untrack and go to general view.</li>
                </ul>
                <i><p>Until the race start date a countdown and a demo race is showed.</p>
                   <p>When the countdown finishes it will connect to server to get the live timing</p>
                </i>
                <a target="_blank" href="https://twitter.com/lusob">@lusob</a>
                <a href="/" data-role="button" data-rel="back" data-theme="c">Ok</a> 
            </div>
        </div>
    </body>
</html>